ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px;
  color: blue;
  overflow: hidden;
  background-color: rgb(16, 142, 16);
  height: 25px;
}

ul li{
  float : left;
}

h1{
  text-align: center;
}